Repository NVIDIA/nv-ingest, pull requests merged in 2025-07, with the labels that each got.

#853 refactor: Consolidate API keys to NVIDIA_API_KEY
  .devcontainer/devcontainer.json
  .github/workflows/test-library-mode.yml
  README.md
  client/client_tests/util/test_util.py
  client/src/nv_ingest_client/nv_ingest_cli.py
  client/src/nv_ingest_client/util/util.py
  client/src/nv_ingest_client/util/vdb/milvus.py
  deploy/pdf-blueprint.ipynb
  docker-compose.yaml
  docs/docs/extraction/environment-config.md
  docs/docs/extraction/faq.md
  docs/docs/extraction/nemoretriever-parse.md
  docs/docs/extraction/quickstart-library-mode.md
  src/nv_ingest/framework/orchestration/ray/examples/pipeline_test_harness.py
  src/nv_ingest/framework/orchestration/ray/util/pipeline/pipeline_runners.py
  src/nv_ingest/framework/orchestration/ray/util/pipeline/stage_builders.py
Labels: ok-to-test

#884 milvus on/off nullable field
  client/src/nv_ingest_client/client/interface.py
  client/src/nv_ingest_client/util/vdb/__init__.py
  client/src/nv_ingest_client/util/vdb/milvus.py
Labels: bug

#893 Mil search speed
  client/src/nv_ingest_client/util/vdb/milvus.py
Labels: bug

#811 Refactor model interface to enable replacing paddle with nemoretriever-ocr
  api/api_tests/interface/test_extract.py
  api/api_tests/internal/extract/image/test_chart_extractor.py
  api/api_tests/internal/extract/pdf/engines/test_pdfium.py
  api/api_tests/internal/primitives/nim/model_interface/test_helpers.py
  api/api_tests/internal/primitives/nim/model_interface/test_ocr.py
  api/api_tests/internal/primitives/nim/test_nim_client.py
  api/api_tests/internal/schemas/extract/test_extract_chart_schema.py
  api/api_tests/internal/schemas/extract/test_extract_infographic_schema.py
  api/api_tests/internal/schemas/extract/test_extract_table_schema.py
  api/src/nv_ingest_api/interface/extract.py
  api/src/nv_ingest_api/internal/extract/image/chart_extractor.py
  api/src/nv_ingest_api/internal/extract/image/infographic_extractor.py
  api/src/nv_ingest_api/internal/extract/image/table_extractor.py
  api/src/nv_ingest_api/internal/extract/pdf/engines/nemoretriever.py
  api/src/nv_ingest_api/internal/extract/pdf/engines/pdfium.py
  api/src/nv_ingest_api/internal/primitives/nim/model_interface/helpers.py
  api/src/nv_ingest_api/internal/primitives/nim/model_interface/ocr.py
  api/src/nv_ingest_api/internal/primitives/nim/nim_client.py
  api/src/nv_ingest_api/internal/schemas/extract/extract_chart_schema.py
  api/src/nv_ingest_api/internal/schemas/extract/extract_infographic_schema.py
  api/src/nv_ingest_api/internal/schemas/extract/extract_table_schema.py
  api/src/nv_ingest_api/util/image_processing/table_and_chart.py
  api/src/nv_ingest_api/util/image_processing/transforms.py
  client/client_tests/primitives/tasks/test_extract.py
  client/src/nv_ingest_client/primitives/tasks/extract.py
  client/src/nv_ingest_client/util/transport.py
  docker-compose.yaml
  src/nv_ingest/api/v1/health.py
  src/nv_ingest/framework/orchestration/ray/examples/pipeline_test_harness.py
  src/nv_ingest/framework/orchestration/ray/util/pipeline/pipeline_runners.py
  src/nv_ingest/framework/orchestration/ray/util/pipeline/stage_builders.py
  tests/service_tests/schemas/test_chart_extractor_schema.py
  tests/service_tests/schemas/test_table_extractor_schema.py
Labels: 25.07

#889 [REVIEW] Update main to use YOLOX Ensemble NIMs
  api/api_tests/internal/extract/pdf/engines/test_pdfium.py
  api/api_tests/internal/primitives/nim/model_interface/test_yolox_interface_base.py
  api/api_tests/internal/primitives/nim/model_interface/test_yolox_interface_graphic_elements.py
  api/api_tests/internal/primitives/nim/model_interface/test_yolox_interface_page_elements.py
  api/api_tests/internal/primitives/nim/model_interface/test_yolox_interface_table_structure.py
  api/api_tests/internal/primitives/nim/model_interface/test_yolox_utilities.py
  api/src/nv_ingest_api/internal/extract/image/chart_extractor.py
  api/src/nv_ingest_api/internal/extract/image/image_helpers/common.py
  api/src/nv_ingest_api/internal/extract/image/table_extractor.py
  api/src/nv_ingest_api/internal/extract/pdf/engines/nemoretriever.py
  api/src/nv_ingest_api/internal/extract/pdf/engines/pdfium.py
  api/src/nv_ingest_api/internal/primitives/nim/model_interface/helpers.py
  api/src/nv_ingest_api/internal/primitives/nim/model_interface/yolox.py
  api/src/nv_ingest_api/internal/primitives/nim/nim_client.py
  docker-compose.yaml
  src/util/image_model_validation/util.py
Labels: 25.07

#898 Update client to use PyPdfium2 4.30.0 as it seems the maintainers yan…
  client/pyproject.toml
Labels: bug

#907 docs: Add release notes for 25.6.3 (25.6.3)
  docs/docs/extraction/releasenotes-nv-ingest.md
Labels: doc

#906 docs: Add release notes for 25.6.3 (main)
  docs/docs/extraction/releasenotes-nv-ingest.md
Labels: doc

#909 Nkm/fix 25.6.3 versioning
  docs/docs/index.md
  docs/mkdocs.yml
  docs/requirements.txt
Labels: doc

#879 Remove dependencies from nv-ingest-client that are no longer needed
  client/pyproject.toml
  client/src/nv_ingest_client/cli/util/processing.py
  client/src/nv_ingest_client/util/util.py
Labels: 25.07

#908 docs: Updates for the 25.07 launch (QA Draft)
  docs/docs/extraction/data-store.md
  docs/docs/extraction/notebooks.md
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/quickstart-library-mode.md
  docs/docs/extraction/releasenotes-nv-ingest.md
  examples/building_vdb_operator.ipynb
Labels: doc

#912 Fix vlm build endpoint url
  api/src/nv_ingest_api/internal/schemas/transform/transform_image_caption_schema.py
  client/src/nv_ingest_client/nv_ingest_cli.py
  docs/docs/extraction/nv-ingest-python-api.md
  helm/README.md
  helm/values.yaml
  src/nv_ingest/framework/orchestration/ray/util/pipeline/pipeline_runners.py
  tests/service_tests/schemas/test_image_caption_extraction_schema.py
Labels: doc, 25.07

#914 docs: Update 25.07 release notes, support matrix, and more ocr updates
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/releasenotes-nv-ingest.md
  docs/docs/extraction/support-matrix.md
  helm/README.md
Labels: doc
