Repository NVIDIA/nv-ingest, pull requests merged in 2025-04, with the labels that each got.

#642 Fix casing N R Extraction --> N R extraction
  .devcontainer/README.md
  README.md
  client/README.md
  docs/docs/extraction/overview.md
  docs/docs/extraction/releasenotes-nv-ingest.md
  helm/README.md
Labels: doc

#644 Edit pass on Readme and Library Mode Quickstart
  README.md
  docs/docs/extraction/overview.md
  docs/docs/extraction/quickstart-library-mode.md
Labels: doc

#651 Fix typo and add ulimit troubleshooting (main)
  docs/docs/extraction/quickstart-guide.md
Labels: doc

#652 Fix typo and add ulimit troubleshooting (25.3.0)
  docs/docs/extraction/quickstart-guide.md
Labels: doc

#657 Add milvus filter and metadata add on support
  client/client_tests/util/test_milvus_util.py
  client/src/nv_ingest_client/util/milvus.py
Labels: feature request

#658 Add metadata file support and example/documentation
  client/client_tests/util/test_milvus_util.py
  client/src/nv_ingest_client/util/milvus.py
  examples/metadata_and_filtered_search.ipynb
Labels: feature request

#653 update/relax dependency conflicts for langflow compatibility
  client/pyproject.toml
Labels: ok-to-test

#654 Provide option to pass full url and headers to RestClient
  api/src/nv_ingest_api/util/service_clients/rest/rest_client.py
Labels: ok-to-test

#649 Milvus log fix
  client/src/nv_ingest_client/util/milvus.py
Labels: bug

#667 Add reindex support
  client/src/nv_ingest_client/util/milvus.py
  examples/reindex_example.ipynb
Labels: feature request

#669 Update titles and links for 3 deployment pages
  docs/docs/extraction/helm.md
  docs/docs/extraction/notebooks.md
  docs/docs/extraction/overview.md
  docs/docs/extraction/prerequisites.md
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/quickstart-library-mode.md
  docs/docs/extraction/releasenotes-nv-ingest.md
  docs/docs/extraction/support-matrix.md
  docs/mkdocs.yml
Labels: doc

#672 Fix streaming and threshold
  client/client_tests/util/test_milvus_util.py
  client/src/nv_ingest_client/util/milvus.py
Labels: bug

#671 Add Adobe Analytics scripts
  docs/overrides/main.html
Labels: doc

#670 Update ulimit troubleshooting section
  docs/docs/extraction/quickstart-guide.md
Labels: doc

#681 Add expanded documentation for chunking/splitting WITH EDIT
  docs/docs/extraction/chunking.md
  docs/docs/extraction/nv-ingest-python-api.md
  docs/mkdocs.yml
Labels: doc
