Repository NVIDIA/nv-ingest, pull requests merged in 2025-03, with the labels that each got.

#499 Page reconstruction
  client/src/nv_ingest_client/util/milvus.py
  tests/nv_ingest_client/util/test_milvus_util.py
Labels: feature request

#494 Mil meta collect
  client/src/nv_ingest_client/util/milvus.py
  client/src/nv_ingest_client/util/util.py
  tests/nv_ingest_client/util/test_milvus_util.py
Labels: feature request

#502 no create when already exists
  client/src/nv_ingest_client/util/milvus.py
Labels: bug

#505 Fix broken link
  docs/mkdocs.yml
Labels: doc

#506 Fix 2 links
  docs/docs/index.md
  docs/docs/user-guide/quickstart-guide.md
Labels: doc

#458 change log level on record ingestion failures
  client/src/nv_ingest_client/util/milvus.py
Labels: feature request

#515 Openapi docs
  docs/Makefile
  docs/requirements.txt
  docs/scripts/generate_openapi_docs.py
  docs/sphinx_docs/Makefile
  docs/sphinx_docs/make.bat
  docs/sphinx_docs/source/conf.py
  docs/sphinx_docs/source/index.rst
  docs/sphinx_docs/source/openapi.rst
Labels: doc

#525 Reorg docs for S.S. request. First iteration
  README.md
  docs/Makefile
  docs/docs/assets/images/preview-image.png
  docs/docs/extraction/audio.md
  docs/docs/extraction/content-metadata.md
  docs/docs/extraction/contributing.md
  docs/docs/extraction/deployment.md
  docs/docs/extraction/environment-config.md
  docs/docs/extraction/example_processed_docs/text/multimodal_test.pdf.metadata.json
  docs/docs/extraction/images/generate_personal_key.png
  docs/docs/extraction/images/image_viewer_example.png
  docs/docs/extraction/images/preview-image.png
  docs/docs/extraction/images/prometheus.png
  docs/docs/extraction/images/test.pdf.png
  docs/docs/extraction/images/zipkin.png
  docs/docs/extraction/kubernetes-dev.md
  docs/docs/extraction/ngc-api-key.md
  docs/docs/extraction/nv-ingest_cli.md
  docs/docs/extraction/overview.md
  docs/docs/extraction/prerequisites.md
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/releasenotes-nv-ingest.md
  docs/docs/extraction/telemetry.md
  docs/docs/index.md
  docs/mkdocs.yml
  skaffold/README.md
Labels: doc

#543 Update Retriever overview and refactor prerequisites / support matrix
  docs/docs/extraction/prerequisites.md
  docs/docs/extraction/support-matrix.md
  docs/docs/index.md
  docs/mkdocs.yml
Labels: doc

#544 Fix API docs missing from TOC, add one link, fix page title wrapper
  docs/docs/index.md
  docs/mkdocs.yml
  docs/sphinx_docs/source/openapi.rst
Labels: doc

#545 Rename index-->overview for retriever
  docs/docs/overview.md
  docs/mkdocs.yml
Labels: doc

#551 fix reranker output
  client/src/nv_ingest_client/util/milvus.py
Labels: bug

#553 25.03 Updates including release notes and library mode
  docs/docs/extraction/deployment.md
  docs/docs/extraction/environment-config.md
  docs/docs/extraction/images/generate_personal_key.png
  docs/docs/extraction/images/overview-retriever.png
  docs/docs/extraction/ngc-api-key.md
  docs/docs/extraction/prerequisites.md
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/quickstart-library-mode.md
  docs/docs/extraction/releasenotes-nv-ingest.md
  docs/docs/extraction/support-matrix.md
  docs/docs/overview.md
  docs/mkdocs.yml
Labels: doc

#542 Fix sparse meta bug
  client/src/nv_ingest_client/util/milvus.py
  tests/nv_ingest_client/util/test_milvus_util.py
Labels: bug

#556 removed kubernetes in dev and deployment pages
  README.md
  docs/docs/extraction/deployment.md
  docs/docs/extraction/kubernetes-dev.md
  docs/docs/extraction/quickstart-guide.md
  docs/mkdocs.yml
  skaffold/README.md
Labels: doc

#555 this adds 1% to ranker recall
  client/src/nv_ingest_client/util/milvus.py
Labels: bug

#564 Add redirect for nemo/retriever/extraction/(index)
  docs/mkdocs.yml
  docs/requirements.txt
Labels: doc

#565 VDR Doc updates
  docs/docs/extraction/images/overview-extraction.png
  docs/docs/extraction/images/overview-retriever.png
  docs/docs/extraction/overview.md
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/releasenotes-nv-ingest.md
Labels: doc, VDR

#570 update json output examples
  data/functional_validation.json
  data/multimodal_test.json
  docs/docs/extraction/content-metadata.md
Labels: doc

#566 updated nv-ingest name in titles and paragraphs based on feedback
  docs/docs/extraction/audio.md
  docs/docs/extraction/overview.md
  docs/docs/extraction/prerequisites.md
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/quickstart-library-mode.md
  docs/docs/extraction/releasenotes-nv-ingest.md
  docs/docs/extraction/support-matrix.md
Labels: doc

#572 adding note for parse and updated telemetry page
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/quickstart-library-mode.md
  docs/docs/extraction/telemetry.md
Labels: doc

#512 Update NGC API key reference in audio user guide
  docs/docs/extraction/audio.md
Labels: doc

#576 VDR changes round 2
  README.md
  deploy/pdf-blueprint.ipynb
  docs/docs/extraction/content-metadata.md
  docs/docs/extraction/images/generate_personal_key.png
  docs/docs/extraction/ngc-api-key.md
  docs/docs/extraction/nv-ingest_cli.md
  docs/docs/extraction/overview.md
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/quickstart-library-mode.md
  docs/mkdocs.yml
Labels: doc

#530 add usage guide for nemoretriever-parse
  docs/docs/extraction/nemoretriever-parse.md
Labels: doc

#569 update environment config documentation
  docs/docs/extraction/environment-config.md
Labels: doc

#578 VDR changes round 3
  CONTRIBUTING.md
  deploy/pdf-blueprint.ipynb
  docs/docs/extraction/audio.md
  docs/docs/extraction/nemoretriever-parse.md
  docs/docs/extraction/ngc-api-key.md
  docs/docs/extraction/notebooks.md
  docs/docs/extraction/nv-ingest_cli.md
  docs/docs/extraction/overview.md
  docs/docs/extraction/prerequisites.md
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/quickstart-library-mode.md
  docs/docs/extraction/releasenotes-nv-ingest.md
  docs/docs/extraction/support-matrix.md
  docs/docs/extraction/telemetry.md
  docs/mkdocs.yml
Labels: doc

#581 Fix bug in TOC
  docs/mkdocs.yml
Labels: doc

#580 add python api documentation
  docs/docs/extraction/nv-ingest-python-api.md
  docs/mkdocs.yml
Labels: doc

#583 A few more edits to the new API doc
  docs/docs/extraction/nv-ingest-python-api.md
Labels: doc

#584 Add example of extracting text from non-standard document types
  docs/docs/extraction/nv-ingest-python-api.md
Labels: doc

#590 Add new FAQ page with 2 initial items
  README.md
  docs/docs/extraction/faq.md
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/quickstart-library-mode.md
  docs/mkdocs.yml
Labels: doc

#592 Another round of VDR fixes
  README.md
  docs/docs/extraction/audio.md
  docs/docs/extraction/helm.md
  docs/docs/extraction/images/audio.png
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/quickstart-library-mode.md
  docs/mkdocs.yml
Labels: doc

#593 Add FAQ items and create new Data page
  docs/docs/extraction/data-store.md
  docs/docs/extraction/faq.md
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/releasenotes-nv-ingest.md
  docs/docs/extraction/support-matrix.md
  docs/mkdocs.yml
Labels: doc

#599 Add import for sys after previously adding sys for output
  docs/docs/extraction/quickstart-library-mode.md
Labels: doc
