Repository NVIDIA/nv-ingest, pull requests merged in 2025-09, with the labels that each got.

#1003 Add basic usage overview to api reference
  docs/sphinx_docs/source/index.rst
Labels: doc

#1015 docs: Remove --build and edit OOM / save to disk content (main)
  docs/docs/extraction/audio.md
  docs/docs/extraction/nemoretriever-parse.md
  docs/docs/extraction/nv-ingest-python-api.md
  docs/docs/extraction/troubleshoot.md
Labels: doc

#1016 docs: Remove --build and edit OOM / save to disk content (25.9.0-RC2)
  docs/docs/extraction/audio.md
  docs/docs/extraction/nemoretriever-parse.md
  docs/docs/extraction/nv-ingest-python-api.md
  docs/docs/extraction/troubleshoot.md
Labels: doc, 25.09 (25.08 25.07)

#1018 Remove duplicate content from api reference overview
  docs/sphinx_docs/source/index.rst
Labels: doc

#996 Mil stream batch
  client/src/nv_ingest_client/util/vdb/milvus.py
Labels: bug

#1028 add flush streaming inserts
  client/src/nv_ingest_client/util/vdb/milvus.py
Labels: bug

#985 [docs] Add docker-compose override for A100 40gb
  docs/docs/extraction/quickstart-guide.md
Labels: doc, 25.09 (25.08 25.07)

#1037 docs: Fix helm link in release notes
  docs/docs/extraction/releasenotes-nv-ingest.md
Labels: doc, 25.09 (25.08 25.07)

#1012 Add RAG Blueprint to applications section and Update install versions (main)
  README.md
  docs/docs/extraction/quickstart-guide.md
  docs/docs/extraction/quickstart-library-mode.md
  docs/docs/index.md
Labels: doc

#1038 Update nr ocr model name to scene_text_ensemble in docs
  docs/docs/extraction/quickstart-guide.md
  helm/README.md
Labels: doc

#1047 Add milvus-lite install to library mode quickstart
  README.md
  docs/docs/extraction/quickstart-library-mode.md
Labels: doc

#1044 replace nvidiaembeddings with internal mechanism
  client/src/nv_ingest_client/util/transport.py
  client/src/nv_ingest_client/util/vdb/milvus.py
Labels: feature request

#800 Add dataloader
  .github/workflows/docker-build.yml
  api/api_tests/util/dataloader/__init__.py
  api/api_tests/util/dataloader/dataloader_test_tools.py
  api/api_tests/util/dataloader/test_dataloader_audio.py
  api/api_tests/util/dataloader/test_dataloader_video.py
  api/pyproject.toml
  api/src/nv_ingest_api/util/dataloader/__init__.py
  api/src/nv_ingest_api/util/dataloader/dataloader.py
Labels: feature request

#1063 update prompt for VLM inference requests.
  api/api_tests/internal/primitives/nim/model_interface/test_vlm.py
  api/src/nv_ingest_api/internal/primitives/nim/model_interface/vlm.py
Labels: ok-to-test
